<App>
  <script>
    // import Export from './export.riot';

    export default {
      state: {
      },
      components: {
        //Export
      },
      onBeforeMount(props, state) {
      },
    };
  </script>
</App>
